# OpenAI
OPENAI_API_KEY=sk-your-openai-key-here

# Qdrant Cloud (free tier) - get from https://cloud.qdrant.io
https://7ab3b1b2-8060-4c2b-8ae3-5fe340ca7054.sa-east-1-0.aws.cloud.qdrant.io
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6NmNkZDY3NjAtYmU3OS00ZWY2LWIzOWYtZGU5NWQ4Y2MyZmE3In0.2AfF0aPr5ugXssLJymXFi_herjnMIh0qFKiiU7Tjs3s

# Neon Postgres (free tier) - get from https://neon.tech
postgresql://neondb_owner:npg_RF3ethBslkE7@ep-fancy-hill-a52vfl1z-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Frontend URL (for CORS) - your deployed Vercel URL
NEXT_PUBLIC_API_URL=http://localhost:8000
